@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

.container {
    display: flex;
    width: 100%;
  }
  
.rightContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100vh;
    margin: 2rem 2rem 2rem 2rem;
  }

.account {
    font-family: "Open Sans", sans-serif;
    font-size: 15.3px;
    text-align: center;
    color: #828282;
}


.form {
    margin-top: 5%;
    border-radius: 11px;
    max-width: 22rem; 
    width: 100%; 
    box-sizing: border-box; 
}

.name,
.email,
.password,
.confirmPassword {
    margin: 3%;
    padding: 5%;
    border: solid 1px #d0d0d0;
    border-radius: 11px;
    width: 100%; /* Ensure the input fields take full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    text-indent: 30px;
    align-self: stretch;
   
   
    
}
input::placeholder {
    font-family: "Open Sans";
    font-size: 15.3px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #828282;
    text-indent: 30px;
}

input.name{
    background-image: url('../../assets/images/profile.png'); /* all icons in a single file */
    background-repeat: no-repeat;
    background-position:10px ; /* position of the right icon */
    background-size: 1.7em;
}
input.email{
    background-image: url('../../assets/images/mailIcon.png'); /* all icons in a single file */
    background-repeat: no-repeat;
    background-position:10px ; /* position of the right icon */
    background-size: 1.7em;
}
input.password,.confirmPassword{
    background-image: url('../../assets/images/lock.png'); /* all icons in a single file */
    background-repeat: no-repeat;
    background-position:10px ; /* position of the right icon */
    background-size: 1.7em;
}
.inputContainer {
    position: relative;
  }
  
  .inputIcon {
    position: absolute;
    top: 50%;
    right: 1px; /* Adjust the right spacing as needed */
    transform: translateY(-50%);
    cursor: pointer;
    width:1.7vw;
    

  }
  .error{
    padding:0%;
    margin:0%;
    color:red;
    margin-left:1rem;
  }



  .register {
    font-family: "Open Sans", sans-serif;
    font-size: 33.1px;
    margin-top: 4rem;
    padding: 0%;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #343434;
  }


  .loginButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 4%;
    border: solid 1px #d0d0d0;
    border-radius: 11px;
    width: 100%; /* Ensure the input fields take full width */
    box-sizing: border-box; /* Include padding and border in the width calculation */
    border-radius: 55px;
    flex-grow: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #17a2b8;
    background-color: aliceblue;
  }

.registerButton{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  padding: 4%;
  border: solid 1px #d0d0d0;
  border-radius: 11px;
  width: 100%; /* Ensure the input fields take full width */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  border-radius: 55px;
  background-color: #17a2b8;
  color: aliceblue;
}

  
/* .loginButton,
.registerButton {
  margin-left: 1rem;
  margin-top: 1rem;
  width: 470.4px;
  height: 55.1px;
  background-color: #17a2b8;
  border: solid white;
  border-radius: 5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
} */

.loginButton {
  margin-top: 0%;
  background-color: #fff;
  border: solid #17a2b8;
  color: #17a2b8
}