@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

.container {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 100vh;
  margin: 2rem 2rem 2rem 2rem;
}

#login {
  margin-top: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #343434;

}

.form {
  margin-top: 5%;
  border-radius: 11px;
  max-width: 22rem;
  /* Added max-width to limit the form width */
  width: 100%;
  /* Ensure the form takes full width */
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
}

.name,
.email,
.password,
.confirmPassword {
  margin: 3%;
  padding: 5%;
  border: solid 1px #d0d0d0;
  border-radius: 11px;
  width: 100%;
  /* Ensure the input fields take full width */
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
  text-indent: 30px;
  align-self: stretch;



}

input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 15.3px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
  text-indent: 30px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  font-family: "Open Sans", sans-serif;
  padding: 4%;
  border: solid 1px #d0d0d0;
  border-radius: 11px;
  width: 100%;
  /* Ensure the input fields take full width */
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
  border-radius: 55px;
  background-color: #17a2b8;
  color: aliceblue;
}

.registerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  padding: 4%;
  border: solid 1px #17a2b8;
  border-radius: 11px;
  width: 100%;
  /* Ensure the input fields take full width */
  box-sizing: border-box;
  /* Include padding and border in the width calculation */
  border-radius: 55px;
  flex-grow: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #17a2b8;
  background-color: #fff;
}

.existaccount {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  flex-grow: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
}

input.name {
  background-image: url('../../assets/images/profile.png');
  /* all icons in a single file */
  background-repeat: no-repeat;
  background-position: 10px;
  /* position of the right icon */
  background-size: 1.7em;
}

input.email {
  background-image: url('../../assets/images/mailIcon.png');
  /* all icons in a single file */
  background-repeat: no-repeat;
  background-position: 10px;
  /* position of the right icon */
  background-size: 1.7em;
}

input.password,
.confirmPassword {
  background-image: url('../../assets/images/lock.png');
  /* all icons in a single file */
  background-repeat: no-repeat;
  background-position: 10px;
  /* position of the right icon */
  background-size: 1.7em;
}

.inputContainer {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 50%;
  right: 1px;
  /* Adjust the right spacing as needed */
  transform: translateY(-50%);
  cursor: pointer;
  width: 1.7vw;


}

.error {
  margin: 0%;
  padding: 0%;
  margin-left:1rem;
  color: red
}